/*
*
*	COLORS!
*
*/
// Amanda Duz Colors
$verdeAmanda: rgba(186,209,71,1.0);
$chumbo:#454547;//rgba(88,88,90,1);

$roxo:rgb(80,77,103);
$fucsia:rgb(255,0,153);

$cinzaClaro:rgb(108, 110, 112);
$laranja: #FB6C09;

$backgroundColor:white;
$oldMaroon: #800000;


